name: Build and deploy Angular app to Azure Web App - diaverum-web-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build Angular
        run: npm run build -- --configuration production

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: angular-app
          path: dist/Front/browser

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: angular-app
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_8F33FDD00C3743ADAD56FAB0C6AC6517 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_BD83DC70D63D4F7E857EBE704B4E54DF }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6726182009E4462DA1CD17A3FBAE806D }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'diaverum-web-app'
          slot-name: 'Production'
          package: .
